
.card {
    padding: 50px;
    background-color: var(--prussian-blue);
    color: #fff
}

a {
    color: #fff
}

a:hover {
    color: #fff
}

.box {
    margin-bottom: 60px;
    margin-top: 20px
}

.form-control {
    border: none;
    margin-left: 0;
    background-color: #1565C0;
    color: #fff
}

input {
    border-bottom: 1px solid #fff !important;
    border-radius: 0 !important
}

::-webkit-input-placeholder {
    color: #E1F5FE !important
}

::-moz-placeholder {
    color: #E1F5FE !important
}

:-ms-input-placeholder {
    color: #E1F5FE !important
}

:-moz-placeholder {
    color: #E1F5FE !important
}

.form-head {
    padding-left: 10px;
    padding-right: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px
}

.custom-control-label {
    font-size: 14px !important
}

.get-input {
    padding-left: 0
}

button {
    color: #1565C0 !important;
    font-weight: bold !important;
    padding: 10px 20px 10px 20px !important;
    border-radius: 0 !important
}

button:hover {
    color: #1565C0 !important;
    background-color: #fff
}