{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/components/footer.css' %}">
{% endblock stylesheet %}

<div class="container-fluid px-0 py-4 mx-auto back-prussian-blue">
    <div class="row">
        <div class="col-md-2">
            <div class="row justify-content-center">
                <h1 class="text-primary brand-title">
                    TAG<span class="text-primary-2">x</span><span>Chain</span>
                </h1>
            </div>
        </div>
        <div class="col-md-7 d-flex justify-content-center mb-3">
            <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3 pt-3"> <a href="#">About</a> </div>
            <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3 pt-3"> <a href="#">Work</a> </div>
            <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3 pt-3"> <a href="#">Blog</a> </div>
            <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3 pt-3"> <a href="#">Careers</a> </div>
            <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3 pt-3"> <a href="#">Contact</a> </div>
        </div>
        <div class="col-md-3 justify-content-center d-flex"> <a href="#">
                <div class="d-inline-flex px-3 px-md-2 px-lg-3 pt-3">
                    <div class="fab fa-facebook"></div>
                </div>
            </a> <a href="#">
                <div class="d-inline-flex px-3 px-md-2 px-lg-3 pt-3">
                    <div class="fab fa-twitter"></div>
                </div>
            </a> <a href="#">
                <div class="d-inline-flex px-3 px-md-2 px-lg-3 pt-3">
                    <div class="fab fa-instagram"></div>
                </div>
            </a> <a href="#">
                <div class="d-inline-flex px-3 px-md-2 px-lg-3 pt-3">
                    <div class="fab fa-linkedin"></div>
                </div>
            </a> <a href="#">
                <div class="d-inline-flex px-3 px-md-2 px-lg-3 pt-3">
                    <div class="fab fa-google-plus"></div>
                </div>
            </a> </div>
    </div>
</div>