{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/components/sidebar.css' %}">
{% endblock stylesheet %}

<div class="sidebar-container">
    <div class="sidebar-logo">
        <h1 class="text-primary brand-title">
            TAG<span class="text-primary-2">x</span><span>Chain</span>
        </h1>
    </div>
    <ul class="sidebar-navigation">
        <li class="header">Account</li>
        <li>
            <a href="{% url 'accounts:my_account' %}">
                <i class="fa fa-user" aria-hidden="true"></i> {{ request.user.username.upper }}
            </a>
        </li>
        <li>
            <a href="{% url 'accounts:logout' %}">
                <i class="fa fa-sign-out-alt" aria-hidden="true"></i> Logout
            </a>
        </li>
        <li class="header">SYSTEM</li>

        <li>
            <a href="{% url 'core:home' %}">
                <i class="fa fa-home" aria-hidden="true"></i> Home
            </a>
        </li>

        <li class="header">Trade Management</li>
        <li>
            <a href="{% url 'trades:trades_overview' %}">
                <i class="fa fa-chart-line" aria-hidden="true"></i> Trades Overview
            </a>
        </li>
        <li>
            <a href="{% url 'trades:add_trade' %}">
                <i class="fa fa-project-diagram" aria-hidden="true"></i> Add Trade
            </a>
        </li>

        {% if request.user.platformsettingsenabled.screeners %}<li class="header">Screeners</li>{% endif %}
        {% if request.user.platformsettingsenabled.crypto_screener_enabled %}
        <li>
            <a href="{% url 'core:crypto_screener' %}">
                <i class="fab fa-bitcoin" aria-hidden="true"></i> Crypro Screener
            </a>
        </li>
        {% endif %}
        {% if request.user.platformsettingsenabled.forex_screener_enabled %}
        <li>
            <a href="{% url 'core:forex_screener' %}">
                <i class="fa fa-dollar-sign" aria-hidden="true"></i> Forex Screener
            </a>
        </li>
        {% endif %}
        {% if request.user.platformsettingsenabled.forex_screener_enabled %}
        <li>
            <a href="{% url 'core:stock_screener' %}">
                <i class="fas fa-chart-line" aria-hidden="true"></i> Stock Screener
            </a>
        </li>
        {% endif %}

        {% if request.user.platformsettingsenabled.analysis %}<li class="header">Analysis</li>{% endif %}
        {% if request.user.platformsettingsenabled.market_quotes_enabled %}
        <li>
            <a href="{% url 'core:analysis_market_quotes' %}">
                <i class="fa fa-funnel-dollar" aria-hidden="true"></i> Market Quotes
            </a>
        </li>
        {% endif %}
        {% if request.user.platformsettingsenabled.symbol_overview_enabled %}
        <li>
            <a href="{% url 'core:symbol_overview' %}">
                <i class="fa fa-cubes" aria-hidden="true"></i> Symbol Overview
            </a>
        </li>
        {% endif %}
        {% if request.user.platformsettingsenabled.technical_chart_enabled %}
        <li>
            <a href="{% url 'core:technical_chart' %}">
                <i class="fa fa-chart-area" aria-hidden="true"></i> Technical Chart
            </a>
        </li>
        {% endif %}
        {% if request.user.platformsettingsenabled.technical_analysis_enabled %}
        <li>
            <a href="{% url 'core:technical_analysis' %}">
                <i class="fa fa-memory" aria-hidden="true"></i> Technical Analysis
            </a>
        </li>
        {% endif %}
        {% if request.user.platformsettingsenabled.forex_cross_rates_enabled %}
        <li>
            <a href="{% url 'core:forex_cross_rates' %}">
                <i class="fa fa-hand-holding-usd" aria-hidden="true"></i> Forex Cross Rates
            </a>
        </li>
        {% endif %}
        {% if request.user.platformsettingsenabled.forex_heat_map_enabled %}
        <li>
            <a href="{% url 'core:forex_heat_map' %}">
                <i class="fa fa-file-invoice-dollar" aria-hidden="true"></i> Forex Heat Map
            </a>
        </li>
        {% endif %}

        {% if request.user.platformsettingsenabled.fundamentals %}<li class="header">Fundamentals</li>{% endif %}
        {% if request.user.platformsettingsenabled.quotes_overview_enabled %}
        <li>
            <a href="{% url 'core:fundamental_analysis' %}">
                <i class="fa fa-chart-bar" aria-hidden="true"></i> Quote Overview
            </a>
        </li>
        {% endif %}

        <li class="header">Miscellaneous</li>
        <li>
            <a href="{% url 'core:about' %}">
                <i class="fa fa-users" aria-hidden="true"></i> About
            </a>
        </li>
        <li>
            <a href="{% url 'core:contact' %}">
                <i class="fa fa-cog" aria-hidden="true"></i> Contact
            </a>
        </li>
        <li>
            <a href="{% url 'core:support' %}">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Support
            </a>
        </li>
    </ul>
</div>