{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/components/sidebar.css' %}">
{% endblock stylesheet %}

<div class="sidebar-container">
    <div class="sidebar-logo">
        <h1 class="text-primary brand-title">
            TAG<span class="text-primary-2">x</span><span>Chain</span>
        </h1>
    </div>
    <ul class="sidebar-navigation">
        <li class="header">Logged in as</li>
        <li>
            <a href="{% url 'accounts:my_account' %}">
                <i class="fa fa-user" aria-hidden="true"></i> {{ request.user.username.upper }}
            </a>
        </li>
        <li class="header">System</li>
        <li>
            <a href="{% url 'core:home' %}">
                <i class="fa fa-home" aria-hidden="true"></i> Home
            </a>
        </li>
        <li class="header">Miscellaneous</li>
        <li>
            <a href="{% url 'core:about' %}">
                <i class="fa fa-users" aria-hidden="true"></i> About
            </a>
        </li>
        <li>
            <a href="{% url 'core:contact' %}">
                <i class="fa fa-cog" aria-hidden="true"></i> Contact
            </a>
        </li>
        <li>
            <a href="{% url 'core:support' %}">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Support
            </a>
        </li>

        <li class="header">Screeners</li>
        <li>
            <a href="{% url 'core:crypto_screener' %}">
                <i class="fab fa-bitcoin" aria-hidden="true"></i> Crypro Screener
            </a>
        </li>
        <li>
            <a href="{% url 'core:forex_screener' %}">
                <i class="fa fa-dollar-sign" aria-hidden="true"></i> Forex Screener
            </a>
        </li>
        <li>
            <a href="{% url 'core:stock_screener' %}">
                <i class="fas fa-chart-line" aria-hidden="true"></i> Stock Screener
            </a>
        </li>

        <li class="header">Analysis</li>
        <li>
            <a href="{% url 'core:analysis_market_quotes' %}">
                <i class="fa fa-funnel-dollar" aria-hidden="true"></i> Market Quotes
            </a>
        </li>

        <li>
            <a href="{% url 'core:technical_chart' %}">
                <i class="fa fa-chart-area" aria-hidden="true"></i> Technical Chart
            </a>
        </li>
        <li>
            <a href="{% url 'core:forex_cross_rates' %}">
                <i class="fa fa-hand-holding-usd" aria-hidden="true"></i> Forex Cross Rates
            </a>
        </li>
        <li>
            <a href="{% url 'core:forex_heat_map' %}">
                <i class="fa fa-file-invoice-dollar" aria-hidden="true"></i> Forex Heat Map
            </a>
        </li>

        <li class="header">Fundamentals</li>
        <li>
            <a href="{% url 'core:fundamental_analysis' %}">
                <i class="fa fa-chart-bar" aria-hidden="true"></i> Quote Overview
            </a>
        </li>
    </ul>
</div>